<% content_for :title, "Dicty12: Registration" %>

<h3>Registration</h3>
<p>
   <b>Registration to the meeting will open soon</b>. <!--Registration will be closed by July 23rd.--> Registration fees will cover accommodations, meals, attendance to sessions, coffee breaks and the visit to Segovia, including dinner. Prices are as follows:
</p>

<div class="sponsors">

   <!--<h4>Early Registration (from March 1 to May 15):</h4>-->
   <h4>Early Registration:</h4>
   <br/>
   <ul>
      <li>Single use room - €830</li>
      <li>Double use room - €675 (per person)</li>
   </ul>
   <br/>

   <h4>Late Registration (from May 16 to July 23): </h4>
   <p>*Note: Late registration is subject to availability</p>
   <br/>
   <ul>
      <li>Single use room - €950</li>
      <li>Double use room - €795 (per person)</li>
   </ul>
   <br/>
   
   <h4>Accompanying person (per person in double room): </h4>
   <br/>
   <ul>
      <li>Accommodation, including breakfast - €207</li>
      <li>Accommodation, including breakfast and dinners - €327</li>
      <li>Visit to Segovia (with dinner) - €63</li>
   </ul>
   
   <p>
      Extra nights, including breakfast can be reserved at the same hotel at a price of €90,72 (single use room) or €103,68 (double room).
   </p>

   <!--<p>
       These costs include: room (four nights), meeting registration, food, beverages (except for a couple of cash bars), the lunch cruise 
       and party with band on the last night.
   </p>-->

</div>

<div class="sponsors">
   
   <h3>Payment</h3>
   <p>
      Payment of the Meeting fees and extra expenses can be made through the Registration form only by bank transfer. 
   </p>
   <ul>
      <li>Bank transfer for Viajes Iberia</li>
      <li>ACCOUNT NAME: Viajes Iberia S.A.</li>
      <li>BANK: Bankia</li>
      <li>SWIFT: CVALESVV</li>
      <li>IBAN ES14 2077 0374 87 3109113677</li>
   </ul>
   <br/>
   <p>
      Please, make sure that the payment is in Euros, your name appears on the bank transfer and that your bank has charged all transfer costs and commissions to the originator. Please send a copy of your payment to "Viajes Iberia Incentives", via fax (+34 901 020 873) or e-mail (<a href="mailto:eventos.vlc@viajesiberia.com">eventos.vlc@viajesiberia.com</a>), as registration will be confirmed once payment is received.
   <br/><br/>
      Payment by credit card cannot be accepted through the registration form but may be arranged with the organizing agency, Viajes Iberia, via E-mail (<a href="mailto:eventos.vlc@viajesiberia.com">eventos.vlc@viajesiberia.com</a>).
   </p>

</div>

<!--<p>Coming soon...</p>-->

<% if ! is_registered? %>
   <p class="button" align="center">
      <%#= link_to image_tag("register.png", :border=>0), :controller => 'attendee', :action => 'register' %>
      <%= link_to image_tag("register.png", :border=>0), :login %>
   </p>
<% end %>

