<% content_for :title, "Dicty12: Registration" %>

<h3>Registration</h3>
<p>
   Registration to the meeting is open. It will be closed by July 23rd. Registration fees will cover accommodations, meals, attendance to sessions, coffee breaks and the visit to Segovia, including dinner. Prices are as follows:
</p>

<div id="sponsors">

   <h4>Early Registration ( - June 15):</h4>
   <!--<br/>-->
   <ul>
      <li>Single use room - €830</li>
      <li>Double use room - €675 (per person)</li>
   </ul>
   <!--<br/>-->

   <h4>Late Registration (from June 12 to July 23): </h4>
   <p>*Note: Late registration is subject to availability</p>
   <ul>
      <li>Single use room - €950</li>
      <li>Double use room - €795 (per person)</li>
   </ul>
   <!--<br/>-->

   <h4>Accompanying person (per person in double room): </h4>
   <!--<br/>-->
   <ul>
      <li>Accommodation, including breakfast - €207</li>
      <li>Accommodation, including breakfast and dinners - €327</li>
      <li>Visit to Segovia (with dinner) - €63</li>
   </ul>
   <!--<br/>-->

   <h4>Extra nights: </h4>
   <p>
      Extra nights, including breakfast can be reserved at the same hotel at a price of €90,72 (single use room) or €103,68 (double room). Note that extra nights in a double room need only be included and paid by one person in the party! For special requests, please use the 'Comments' box.
   </p>
   <p>
	  Please fill in all fields in the registration form. <b>Your institution VAT nº or equivalent is needed for invoice purposes</b>
   </p>

</div>

<div id="sponsors">

   <h3>Payment</h3>
   <p>
      Payment of the Meeting fees and extra expenses can be made through the Registration form <b>only by bank transfer</b>.
   </p>
   <h4>*** New Bank Details ***</h4>
   <ul>
      <li>Bank transfer for VIBO Viajes</li>
      <li>ACCOUNT NAME: VIBO Viajes</li>
      <li>BANK: Bankia</li>
      <li>SWIFT: CAHMESMMXXX</li>
      <li>IBAN ES94 2038 8835 55 6000021158</li>
      <li>VAT nº C.I.F. A-07001415</li>
      <li>Address: C/General Tovar, 3, 46003 Valencia, SPAIN</li>
   </ul>
   <!--<br/>-->
   <p>
      Please, make sure that the payment is in Euros, your name appears on the bank transfer and that your bank has charged all transfer costs and commissions to the originator. <b>Please send a copy of your payment to "Viajes Iberia Incentives", via fax (+34 901 020 873) or e-mail (<a href="mailto:eventos.vlc@viajesiberia.com">eventos.vlc@viajesiberia.com</a>), as registration will be confirmed once payment is received</b>.
   <br/><br/>
      Payment by credit card cannot be accepted through the registration form but may be arranged with the organizing agency, Viajes Iberia, via E-mail (<a href="mailto:eventos.vlc@viajesiberia.com">eventos.vlc@viajesiberia.com</a>).
   </p>

</div>

<% if ! is_registered? and registration_open? %>
   <p class="button" align="center">
      <%= link_to image_tag("register.png", :border=>0), :login %>
   </p>
<% end %>

