<% content_for :title, "Dicty13: Payment" %>

<br/>
<div class="container">
	<p>
	Total amount due is <b><%= @user.payment_due %></b>. 
	</p>
	<p>
		Something went wrong and we could not redirect you to the secure credit card payment form.<br/>
		Please try again later !
	</p>


</div>
