/*STYLES FOR DICTY 15*/

/*AFFECTING ALL*/
body {
  margin: 0;
  font: 11px Arial,Helvetica;
  background:none repeat scroll 0 0 #909090;
  min-height: 750px;
  font-family: Arial;
}

h3{
  margin: 0px;
  padding:0px;
}

a:link {
  text-decoration: underline;
  color:#86B404;
}
a:visited {
  text-decoration: none;
  color: #86B404;
}
a:hover {
  text-decoration: none;
  color: #86B404;
}
a:active {
  text-decoration: underline;
  color: #FF4000;
}

#descriptor {
  font-size: 19px;
  left: 20px;
  position: relative;
  top: 20px;
  width: 280px;

}

#descriptor-title {
  font-size: 36px;
  left: 480px;
  position: relative;
  top: -40px;
  width:200px;
}


#container {
  overflow: auto;
  padding: 0;
  /*width: 850px;*/
  width: 850px;
  background:none 0 0 #fff;
  /*margin-bottom:5px;*/
}

#center {
  /*margin: 0 15px;*/
  /*padding: 10px 10px;*/
  /*width: 800px;*/
  /*float: left;*/
  text-align: center;
}


/*HEADER*/

.mainMenu {
  background-color: black;
}

.menuBelow {
  background-color: black;
  color:white;

  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.menu {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.menu a:link {
  text-decoration: none;
  color: white;
}
.menu a:visited {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  text-decoration: none;
  color: #86B404;
}
.menu a:active {
  text-decoration: underline;
  color: yellow;
}

.headerTop {
  background-color: black;
  padding: 0px 40px 0px 40px;
  /*border: 3px red solid;*/
} 
table#headerTable {
  width:100%;
  height:150px;
  /*border: 1px solid yellow;*/
}

.subDicty {
  font-size: 20px;
  font-family: 'Chelsea Market', Arial;
  color: #008AB8;
  letter-spacing: 5px;
  text-align: left;
  padding-bottom: 5px;
}

.subConference {
  font-size: 10px;
  font-family: 'Chelsea Market', Arial;
  letter-spacing: 2px;
  color:white;
  text-align: left;
  padding-bottom: 5px;
}

.subDate {
  font-size: 10px;
  font-family: 'Chelsea Market', Arial;
  color:red;
  text-align: left;
  padding-bottom: 5px;
}

.regHeaderTitle {
  font-size: 45px;
  font-family: 'Chelsea Market', Arial;

  /*font-weight: bold;*/
  text-align: right;
  color: #86B404;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px grey;*/

  padding-bottom: 20px;
  padding-top: 10px;

  background-color: black;
}

.agendaHeaderTitle {
  font-size: 45px;
  font-family: 'Chelsea Market', Arial;

  text-align: right;
  color: #FF8000;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px grey;*/

  padding-bottom: 20px;
  padding-top: 10px;

  background-color: black;
}

.excursionHeaderTitle {
  font-size: 45px;
  font-family: 'Chelsea Market', Arial;

  text-align: right;
  color: yellow;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px grey;*/

  padding-bottom: 20px;
  padding-top: 10px;
}

.travelHeaderTitle {
  font-size: 45px;
  font-family: 'Chelsea Market', Arial;

  text-align: right;
  color: yellow;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px grey;*/

  padding-bottom: 20px;
  padding-top: 10px;
}

.excursionHeaderTitle {
  font-size: 45px;
  font-family: 'Chelsea Market', Arial;

  text-align: right;
  color: #B40486;
  letter-spacing: 5px;
  /*text-shadow: 2px 2px grey;*/

  padding-bottom: 20px;
  padding-top: 10px;
}

/*HOME*/

.mainDicty {
  font-size: 55px;
  font-family: 'Chelsea Market', Arial;
  color: #008AB8;
  letter-spacing: 5px;
  background-color: black;
  padding-bottom: 5px;
}

.mainConference {
  font-size: 16px;
  font-family: 'Chelsea Market', Arial;
  letter-spacing: 2px;
  color:white;
  padding-bottom: 10px;
}

.mainDates {
  font-size: 16px;
  color: #FF0040;
  text-align: center;
  font-family: 'Chelsea Market', Arial;
}

.mainLocation{
  font-size: 18px;
  padding-bottom: 30px;
}

.highLightColor {
  /*color: #006633;*/
  color: #088A08;
  font-weight: bold;
}

/*OPEN REGISTRATION STYLES*/

.registrationBox {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;

  border: 3px #088A08 solid;
  border-radius: 30px;
  background-color: #E0F8EC;
}

.registrationBox h1 {
  padding-top: 0px;
}

/*HOSTS / ORGANIZERS*/

.hostBox {
  padding-top: 20px;

}

.organizer {
  font-size: 14px;
  font-weight: bold;
}


.welcome {
  font-size: 14px;
  padding-bottom: 10px;
}
.textBoxes {
  padding: 5px 10px 10px 10px;
  font-size: 14px;
}

#blueLabel {
  color: blue;
}

#left {

  padding-left: 30px;
  padding-right: 10px;
  width: 370px;
  float: left;
}

#right {

  padding-left: 10px;
  padding-right: 30px;

  width:370px;  
  float: right;
}

#content{
  /*padding: 15px 25px;*/
  /*min-height:650px;*/
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
}

.centered {
  margin: 0 auto;
  /*width: 1000px;*/ /*DJM*/
}

.narrow {
  width: 47%;
}

#footer {
    background:none repeat scroll 0 0 #fff;
    color: #afafaf;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

#footer a{
  color: #afafaf;
  text-decoration: none;
}


/*REGISTRATION*/

.regDescription {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 14px;
  padding-top: 10px;
}

table#regFees {
  width:100%;
  border-spacing: 5px;
}

.regTable {
  padding: 5px 20px 20px 20px;
  font-size: 16px;
  border: 3px black solid;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right:100px;

}

.tableHeader {
    font-size: 20px;  
    font-weight: bold;
    text-align: center;
}

.tableSubHeader {
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.tableBlankSpace {
  height: 20px;
}

.sideHeaderRegular {
  font-size: 20px;
  font-weight: bold;
  color: #0B4C5F;
}

.sideHeaderStudents {
  font-size: 20px;
  font-weight: bold;
  color: #86B404;
}

#alignCenter {
  text-align: center;
  font-size: 18px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*END OF RESGISTRATION*/


/*AGENDA*/
/*------------------------------*/
.agendaBody {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 14px;
  padding-top: 10px;
}

.agendaDivTable {
  padding: 0px 10px 20px 10px;
}

table#agendaTable {
  width:100%;
  border-spacing: 5px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*end of AGENDA*/

/*EXCURSION*/


/*end of EXCURSION*/




.clear { clear:both; }

pre {
  margin: 0;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

.sponsors div{
  float: left;
  text-align: left;
  margin-left: 20px;
}

.sponsors ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sponsors img{
  width: 400px;
}

.sponsors h4{
  margin: 0;
}

/*ul{
  margin: 0;
  margin-left: 15px;
  padding: 0;
}*/

/*li {
  padding-left: 10px;
}*/

h4 {
  color: #F26522;
}

th{
  text-align: left;
}

th h4{
  margin: 10px 0;
}

td, tr {
  margin: 0;
  padding: 0 10px 0 0;
}

.abstract th{
  border-bottom : 1px solid;
}

.abstract a, .abstract a:hover  {
  text-decoration:none;
  outline-style:none;
  outline-width:medium;
  color: #993333;
  background-color:#fff;
}

.abstract td {
  padding : 4px;
}
.abstract .title a, .abstract .title p  {
  color:#F26522;
  font-size:1.2em;
}

.abstract .title, .abstract .presenter {
  margin:0 0 0.2em;
}

table.abstract {
  width: 100%;
}

.long_field {
  width : 97%;
}
table.recaptchatable-like{
  border: 0 none;
  bottom: auto;
  color: black;
  left: auto;
  margin: 0;
  padding: 5px;
  position: static;
  right: auto;
  text-align: left !important;
  top: auto;
  border: 1px solid #DFDFDF !important;
  width: 100%;
}

table.recaptchatable-like input {
  border: 1px solid #3C3C3C;
  width: 302px;
}

.user_nav {
  float: right;
  font-size: 12px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*.info-box {
  width: 325px;
  height: 160px;
  padding: 20px 15px;
  background: white;
  margin: 8px 5px 5px 8px;
  /*-webkit-box-shadow: 1px 1px 5px 0px #cccccc;
  -moz-box-shadow: 1px 1px 5px 0px #cccccc;
  /*box-shadow: 1px 1px 5px 0px #cccccc;
  /*behavior: url("/static/scripts/PIE.htc");
  float: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}*/

/*.info-box.last {
      margin: 0 0 20px 0; }

.info-box h2 {
      font-weight: bold;
      margin: 0 0 11px 0; }

.info-box h4 {
      color: #1f1f1f;
      margin: 0 0 7px 0; }

.info-box p {
      color: #525252; }

.info-box a {
      background: #b62d26;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
      width: 260px;
      color: white;
      position: absolute;
      bottom: 15px;
      left: 10px;
      font-size: 13px;
      line-height: 0.8em;
      text-decoration: none; }

.info-box a .arrow-right {
        border-style: dashed;
        border-color: transparent;
        border-width: 4px;
        display: -moz-inline-box;
        display: inline-block;
        height: 0;
        line-height: 0;
        position: relative;
        vertical-align: middle;
        width: 0;
        border-left: 4px solid white;
        float: right;
        top: 1px; }*/
