body {
    margin: 0;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    background:none repeat scroll 0 0 #333333;
    min-height: 700px;
}
#wrapper {
}
#header {
	margin: 0 0 15px 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat; 
    height: 400px;
    color: #FFFFFF;
}
#header a {
    color: #FFFFFF;
    text-decoration:none;
}
#descriptor {
    font-size: 19px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 280px;
}
#descriptor-title {
    font-size: 36px;
    left: 480px;
    position: relative;
    top: -40px;
}
#menu table{
    margin: 20px 0 0 5px;
    top: 200px;
    width:100%;
    font-size:24px;
    position: relative;
}
#menu td {
    padding-left: 15px;
    width: 10%;
}
#container { 
    overflow: auto;
    padding: 0;
    width: 850px;
    background:none repeat scroll 0 0 #fff;
}
#content{
    padding: 0 20px;
    min-height:500px;
}
.centered {
    margin: 0 auto;
}
.narrow {
    width: 47%;
}
#footer {
    background:none repeat scroll 0 0 #fff;
    color: #afafaf;
    text-align: center;
}
#footer a{
    color: #afafaf;
    text-decoration: none;
}
pre {
    margin: 0;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
.sponsors div{
    float: left;
    text-align: left;
    margin-left: 20px;
}
.sponsors ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sponsors img{
    width: 400px;
}
.sponsors h4{
    margin: 0;
}
a:link {
    color: #F26522;
}
a:visited {
    color: #000;
}
ul{
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
li {
    padding-left: 10px;
}
h4 {
    color: #F26522;
}
th{
    text-align: left;
}
th h4{
    margin: 10px 0;
}
td, tr {
    margin: 0;
    padding: 0 10px 0 0;
}