<% content_for :title, "Dicty15: Abstracts" %>


<div class="headerTop">
	<table id="headerTable">
		<tr>
			<td>
				<div class="subDicty">
					<span >Dicty 2015</span>
				</div>
				<div class="subConference">
					<span>Annual International Dictyostelium Conference</span>
				</div>
				<div class="subDate">
					<span>August 9 to 13, 2015</span>
				</div>	
			</td>

			<td>
				<div class="abstractsHeaderTitle">
					<span>Abstracts</span>
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="regDescription">

	<div class="abstractDeadline">Please submit your abstract no later than <span class="redColor">July 17th</span></div>

	<div class="textBoxes">
		
		<h2>Abstracts</h2>
		<ul>

			<li><p>Abstracts need to be submitted during registration.</p></li>

			<li><p>To upload your abstract, you need to complete the registration <a target="_blank" href="https://www.eventsforce.net/dicty2015" target="_blank"> here</a> <small>(managed by Royal Holloway)</small></p></li>

			<li><p>Abstract must use the template provided <a href="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/dicty15AbstractTemplate.docx" target="_blank"> here</a> <small> (Microsoft Word)</small>.</p></li>
			<li><p>Text is limited to 250 words</p></li>

		</ul>
	</div>

	<div class="textBoxes">
	
		<h2>Talks</h2>

		<ul>
			<li><p>	Plan your talk to be strictly limited to 15 minutes in length (plus up to 5 minutes of questions). </p></li>
			<li><p> Bring your talk on a USB (or your own laptop).</p></li>
		</ul>
	</div>

	<div class="textBoxes">
		<h2>Posters</h2>

		<ul>
			<li><p>The poster size should be 90 cm wide x 110 cm high.</p></li>
		</ul>
	</div>

</div>
