<h3>Dicty 2011 Tentative Conference Schedule</h3>

<table>
    <tr>
        <th><h4>Sunday, Aug. 14</h4></th>
    </tr>
    <tr>
        <td>Arrival</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>5-7 p.m.</td>
        <td>Reception and/or dinner</td>
    </tr>
    <tr>        
        <td>7-9 p.m.</td>
        <td>Evening session</td>
    </tr>
    <tr>
        <th><h4>Monday</h4></th>
    </tr>
    <tr>
        <td>7:30-8 a.m.</td>
        <td>Breakfast</td>
    </tr>
    <tr>
        <td>8:30 a.m.-12 p.m.</td>
        <td>Morning session with break</td>
    </tr>
    <tr>
        <td>12 p.m.</td>
        <td>Lunch</td>
    </tr>
    <tr>
        <td>1-3 p.m.</td>
        <td>Afternoon break</td>
    </tr>
    <tr>
        <td>3-5 p.m.</td>
        <td>Late afternoon session</td>
    </tr>
    <tr>
        <td>5:30-7 p.m.</td>
        <td>Dinner</td>
    </tr>
    <tr>
        <td>7:30-10 p.m.</td>
        <td>Evening session with reception</td>
    </tr>
    <tr>
        <td>10 p.m.-1 a.m.</td>
        <td>Shuttles to Mt. Washington Tavern</td>
    </tr>
    <tr>
        <th><h4>Tuesday</h4></th>
    </tr>
    <tr>
        <td>7:30-8 a.m.</td>
        <td>Breakfast</td>
    </tr>
    <tr>
        <td>8:30-10:30 a.m.</td>
        <td>Morning session with break</td>
    </tr>
    <tr>
        <td>11 a.m.-3 p.m.</td>
        <td>Lunch, Spirit Cruises Baltimore Harbor</td>
    </tr>
    <tr>
        <td>3-5 p.m.</td>
        <td>Late afternoon session</td>
    </tr>
    <tr>
        <td>5:30-7 p.m.</td>
        <td>Dinner</td>
    </tr>
    <tr>
        <td>7:30-10 p.m.</td>
        <td>Evening session with reception</td>
    </tr>
    <tr>
        <td>10 p.m.-1 a.m.</td>
        <td>Shuttles to Brewer’s Art (Mt. Vernon)</td>
    </tr>
    <tr>
        <th><h4>Wednesday</h4></th>
    </tr>
    <tr>
        <td>7:30-8 a.m.</td>
        <td>Breakfast</td>
    </tr> 	        
    <tr>
        <td>8:30 a.m.-12 p.m.</td>
        <td>Morning session with break</td>
    </tr> 	        
    <tr>
        <td>12 p.m.</td>
        <td>Lunch</td>
    </tr> 	        
    <tr>
        <td>1-3 p.m.</td>
        <td>Afternoon break</td>
    </tr> 	        
    <tr>
        <td>3-5 p.m.</td>
        <td>Late afternoon session</td>
    </tr> 	        
    <tr>
        <td>6-10 p.m.</td>
        <td>Dinner reception, Live Music by Sons of Pirates</td>
    </tr> 
    <tr>
        <th><h4>Thursday</h4></th>
    </tr>
    <tr>
        <td>7:30-8 a.m.</td>
        <td>Breakfast</td>
    </tr> 	         
    <tr>
        <td>8:30 a.m.-12 p.m.</td>
        <td>Morning session with break</td>
    </tr> 	         
    <tr>
        <td>12 p.m.</td>
        <td>Depart with lunch boxes </td>
    </tr> 	         
</table>