<% content_for :title, "Dicty15: Agenda" %>

<div class="headerTop">
	<table id="headerTable">
		<tr>
			<td>
				<div class="subDicty">
					<span >Dicty 2015</span>
				</div>
				<div class="subConference">
					<span>Annual International Dictyostelium Conference</span>
				</div>
				<div class="subDate">
					<span>August 9 to 13, 2015</span>
				</div>	
			</td>

			<td>
				<div class="agendaHeaderTitle">
					<span>Agenda</span>
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="agendaBody">

	<h2>Temptative Conference Schedule</h2>
	
	<div class="agendaDivTable">
	<table id="agendaTable">
		
		<tr>
			<th> <h2>Date </h2> </th>
			<th> <h2>Time </h2> </th>
			<th> <h2>Event</h2> </th>
		</tr>

		<tr>
			<td><strong>Sunday, 09-Aug</strong></td>	
			<td>12.00 - 18.00</td>	
			<td>Arrival and registration</td>
		<tr>
			<td> </td>
			<td>17.00 - 18.00</td>
			<td>Seminars</td>
		</tr>
			<td></td>
			<td>18-19.00</td>
			<td>Dinner</td>
		</tr>

		</tr>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>

		<!-- MONDAY TUESDAY -->
		<tr>		
			<td> <strong>Mon-Tue, 10 and 11 Aug</strong> </td>	
			<td>7.30-9.30</td>	
			<td>Breakfast</td>
		</tr>
		<tr>
			<td></td>
			<td>9.30-10.45</td>
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>10.45-11.15</td>
			<td>Coffee	</td>
		</tr>
		<tr>
			<td></td>
			<td>11.15-12.30</td>
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>12.30-1.15</td>
			<td>Lunch</td>
		</tr>
		<tr>
			<td></td>
			<td>13.30-14.45</td>
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>14.45-15.30</td>
			<td>Coffee	</td>
		</tr>
		<tr>
			<td></td>
			<td>15.30-17.00</td>
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>Break</td>
			<td></td>
		</tr>	
		<tr>
			<td></td>
			<td>18.30-19.30</td>
			<td>Dinner	</td>
		</tr>
		<tr>
			<td></td>
			<td>19.30-21.00</td>
			<td>Poster session</td>
		</tr>

		</tr>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		
		<!-- WEDNESDAY -->
		<tr>
			<td><strong>Wed, 12-Aug	</strong></td>
			<td>7.30-9.30</td>
			<td>Breakfast</td>
		</tr>
		<tr>
			<td></td>
			<td>9.30-10.45</td>  
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>10.45-11.15</td> 
			<td>Coffee	</td>
		</tr>
		<tr>
			<td></td>
			<td>11.15-12.30</td> 
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td></td> 
			<td><em>Pick up pack lunch</em></td>
		</tr>
		<tr>
			<td></td>
			<td>13.00-17.30</td> 
			<td>Excursion</td>
		</tr>
		<tr>
			<td></td>
			<td>18.00-23.00</td> 
			<td>Conference dinner</td>
		</tr>

		</tr>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>

		<tr>
			<td><strong>Thur, 13-Aug</strong></td>
			<td>7.30-9.30 </td> 
			<td> Breakfast </td>
		<tr>
			<td> </td>		
			<td>9.30-10.45	</td> 
			<td>Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>10.45-11.15</td> 
			<td>	Coffee	</td>
		</tr>
		<tr>
			<td></td>
			<td>11.15-12.30</td> 
			<td>	Seminar</td>
		</tr>
		<tr>
			<td></td>
			<td>12.30-1.15	</td> 
			<td>Lunch	</td>
		</tr>


	</table>




</div>
