<% content_for :title, "Dicty11: Agenda" %>
<h3>Dicty 2011 Conference Schedule</h3>

<p>
   Talks are scheduled for 15 minutes with 10 minutes for discussion. <br>
   Poster size maximum is 6 ft (1.8 m) long and 4 ft (1.2 m) high.  All posters will be displayed throughout the meeting<br>
   Click <a href="/meeting_program.pdf">Here</a> to download meeting program (pdf)
</p>

<table>
    <tr>
        <th><h4>Sunday, Aug. 14</h4></th>
    </tr>
    <tr>
        <td>Arrival</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>5-7 p.m.</td>
        <td>Registration and Reception</td>
    </tr>
    <tr>        
        <td>7-8 p.m.</td>
        <td>Plenary Lecture J. Spudich</td>
    </tr>
	<tr>        
        <td>from 8 p.m.</td>
        <td>Cash bar, first floor</td>
    </tr>
    <tr>
        <th><h4>Monday</h4></th>
    </tr>
    <tr>
        <td>7:30-8:30 a.m.</td>
        <td>Breakfast</td>
    </tr>
    <tr>
        <td>8:30-12 p.m.</td>
        <td>Morning session with break</td>
    </tr>
    <tr>
        <td>12- 1 p.m.</td>
        <td>Lunch</td>
    </tr>
    <tr>
        <td>1-2:15 p.m.</td>
        <td>Afternoon break</td>
    </tr>
    <tr>
        <td>2:15-5:40 p.m.</td>
        <td>Afternoon session</td>
    </tr>
    <tr>
        <td>5:50-7 p.m.</td>
        <td>Dinner</td>
    </tr>
    <tr>
        <td>7:30-9 p.m.</td>
        <td>Evening session</td>
    </tr>
    <tr>
        <td>9:10-10:30 p.m.</td>
        <td>Poster session and cash bar</td>
    </tr>
    <tr>
        <td>10:30-12 a.m.</td>
        <td>Shuttles to Mt. Washington Tavern</td>
    </tr>
    <tr>
        <th><h4>Tuesday</h4></th>
    </tr>
    <tr>
        <td>7:30-8:30 a.m.</td>
        <td>Breakfast</td>
    </tr>
    <tr>
        <td>8:30-10:25 a.m.</td>
        <td>Morning session with break</td>
    </tr>
    <tr>
        <td>10:45-2:00 p.m.</td>
        <td>Lunch, Spirit Cruises Baltimore Harbor</td>
    </tr>
    <tr>
        <td>3-5:35 p.m.</td>
        <td>Afternoon session</td>
    </tr>
    <tr>
        <td>5:45-7 p.m.</td>
        <td>Dinner</td>
    </tr>
    <tr>
        <td>7:30-8:35 p.m.</td>
        <td>Evening session</td>
    </tr>
    <tr>
        <td>8:45-8:10 p.m.</td>
        <td>Poster session and reception</td>
    </tr>
    <tr>
        <td>10-12 a.m.</td>
        <td>Shuttles to Mt. Washington Tavern</td>
    </tr>
    <tr>
        <th><h4>Wednesday</h4></th>
    </tr>
    <tr>
        <td>7:30-8:30 a.m.</td>
        <td>Breakfast</td>
    </tr> 	        
    <tr>
        <td>8:30 a.m.-11:40 p.m.</td>
        <td>Morning session with break</td>
    </tr> 	        
    <tr>
        <td>11:50-1 pm</td>
        <td>Lunch</td>
    </tr> 	         	        
    <tr>
        <td>1:30-5 p.m.</td>
        <td>Late afternoon session</td>
    </tr> 	        
    <tr>
        <td>7-11 p.m.</td>
        <td>Dinner Party, Live Music by Sons of Pirates</td>
    </tr> 
    <tr>
        <th><h4>Thursday</h4></th>
    </tr>
    <tr>
        <td>7:30-8:30 a.m.</td>
        <td>Breakfast</td>
    </tr> 	         
    <tr>
        <td>8:30 a.m.-12 p.m.</td>
        <td>Morning session with break with grab-n-go snacks</td>
    </tr> 	         
    <tr>
        <td>12 p.m.</td>
        <td>Farewell</td>
    </tr> 	         
</table>