<h3>Dicty 2011 Tentative Conference Schedule</h3>

<pre>
Sunday, Aug. 14
Arrival
5-7 p.m.		        Reception and/or dinner
7-9 p.m. 		        Evening session

Monday 
7:30-8 a.m.		Breakfast 
8:30 a.m.-12 p.m. 	Morning session with break
12 p.m. 		        Lunch
1-3 p.m. 		        Afternoon break
3-5 p.m.		        Late afternoon session
5:30-7 p.m.	        Dinner 
7:30-10 p.m.		Evening session with reception
10 p.m.-1 a.m.		Shuttles to Mt. Washington Tavern

Tuesday
7:30-8 a.m.		Breakfast 
8:30-10:30 a.m. 	Morning session with break
11 a.m.-3 p.m. 	        Lunch, Spirit Cruises Baltimore Harbor
3-5 p.m.		        Late afternoon session
5:30-7 p.m.	        Dinner 
7:30-10 p.m.		Evening session with reception
10 p.m.-1 a.m.		Shuttles to Brewer’s Art (Mt. Vernon)


Wednesday
7:30-8 a.m.		Breakfast 
8:30 a.m.-12 p.m. 	Morning session with break
12 p.m. 		        Lunch
1-3 p.m. 		        Afternoon break
3-5 p.m.		        Late afternoon session
6-10 p.m.	                Dinner reception, Live Music by Sons of Pirates

Thursday
7:30-8 a.m.		Breakfast
8:30 a.m.-12 p.m. 	Morning session with break
12 p.m.		        Depart with lunch boxes 

</pre>
