<% content_for :title, "Dicty13: Agenda" %>

<h3>Dicty 2013 Conference Schedule</h3>

<h4>Sunday, August 4th</h4>

<table>
	<tr><td>Check In:</td><td>2:00 pm - 6:00 pm</td></tr>
	<tr><td>Reception:</td><td>6:30 pm - 8:30 pm</td></tr>
</table>

<p>The first session will start Sunday evening at 8:30pm</p>

<h4>Thursday, August 8th</h4>

<p>The meeting will conclude after the final talk at noon on Thursday.</p>

<!--
<body>
	<h4>Coming soon...</h4>
</body>
-->