<% content_for :title, "Dicty13: Agenda" %>

<h3>Dicty 2013 Conference Schedule</h3>

<h4>Sunday, August 4th</h4>

<table>
	<tr><td>2:00 pm - 6:00 pm</td><td>Check In</td><td></td></tr>
	<tr><td>6:30 pm - 8:30 pm</td><td>Reception</td><td></td></tr>
	<br/>
	<tr><td>7:00 pm</td><td>Keynote Seminar</td><td><b>Recent Advances in Fluorescent Protein Technology</b><br/>Michael W. Davidson<br/>National High Magnetic Field Laboratory<br/>Florida State University</td></tr>
</table>

<p>The first session will start Sunday evening at 8:30pm</p>

<h4>Thursday, August 8th</h4>

<p>The meeting will conclude after the final talk at noon on Thursday.</p>

<!--
<body>
	<h4>Coming soon...</h4>
</body>
-->