<% content_for :title, "Dicty15: Excursion" %>

<div class="headerTop">
	<table id="headerTable">
		<tr>
			<td>
				<div class="subDicty">
					<span >Dicty 2015</span>
				</div>
				<div class="subConference">
					<span>Annual International Dictyostelium Conference</span>
				</div>
				<div class="subDate">
					<span>August 9 to 13, 2015</span>
				</div>	
			</td>

			<td>
				<div class="excursionHeaderTitle">
					<span>Excursion</span>
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="agendaBody">

	<p>This year there are two options available:</p>

	<h2>Windsor Castle</h2>

	<div class="excDivs">

		<table>
			<tr>
				<td valign="top">
					<p>
						Group entry allows entrance to the castle and grounds to be explored at your own pace.  Recommend visit is 2 - 3 hrs but should you have time after the Castle a walk to Eton Bridge over the Thames is worth a visit.  
					</p>
					<p><small><a href="http://www.royalcollection.org.uk/visit/windsorcastle/about">Click here for more info</a></small></p>
				</td>

				<td> <%= image_tag("dicty15_windsor.jpg") %> </td>
				
			</tr>			
		</table>
		
	</div>



	<h2>Fuller's Griffin Brewery</h2>

	<div class="excDivs">

		<table>
			<tr>
				<td>
					<%= image_tag("dicty15_griffin.jpg") %>
				</td>
				<td valign="top">
					<p>
						This brewery in London's Chiswick offers a tempting tour and tutored tasting of its fine ales which lasts approximately 1 - 2 hrs with the chance to buy your favourite beer from the brewery shop to take back to Royal Holloway with you.
					</p>
					<p><small>
						<a href="http://www.fullers.co.uk/brewery">Click here for more info</a>
					</small></p>
				</td>

			</tr>			
		</table>
		
	</div>

</div>
