<% content_for :title, "dictyConf12" %>

<!--<table width="90%" align="center">
<tr>
    <td width="150px">
      <p style="font-size:23px;">
        Annual International Dictyostelium Conference
      </p>
      <p style="font-size:17px;">
        July 29 - August 2, 2012</br>
        Madrid, Spain
      </p>
    </td>
    <td width="65%">Hosted by:<br/>
      <p style="font-size:14px;">
        Ricardo Escalante, <a href="mailto:rescalante@iib.uam.es">rescalante@iib.uam.es</a><br/>  
        Teresa Suárez, <a href="mailto:teresa@cib.csic.es">teresa@cib.csic.es</a><br/>
        Leandro Sastre, <a href="mailto:lsastre@iib.uam.es">lsastre@iib.uam.es</a><br/>
      </p>
    </td>
</tr>

<tr>
    <td colspan="2">
      <p style="font-size:14px;">
        The meeting will be held at:
      </p>
    </td>
</tr>

<tr>
    <td><a href="http://avenidaamerica.madridhotels.it"><%= image_tag("Hotel_Melia.png") %> </a> </td>
    <td><a href="http://avenidaamerica.madridhotels.it">Hotel Mélia Avenida de América</a><br/> 
      Calle de Juan Ignacio Luca de Tena, 36,
      28027, Madrid SPAIN</td>
</tr>
</table>
-->

<div id="container">
  <div id="left">
    <p style="font-size:24px;">
        <b>Annual International Dictyostelium Conference</b>
      </p>
      <p style="font-size:18px;">
        July 29 - August 2, 2012</br>
        Madrid, Spain
      </p>
  </div>
  <div id="right">
    Hosted by:<br/>
    <p style="font-size:16px;">
        Ricardo Escalante, <a href="mailto:rescalante@iib.uam.es">rescalante@iib.uam.es</a><br/>  
        Teresa Suárez, <a href="mailto:teresa@cib.csic.es">teresa@cib.csic.es</a><br/>
        Leandro Sastre, <a href="mailto:lsastre@iib.uam.es">lsastre@iib.uam.es</a><br/>
      </p>
  </div>
</div>

<div id="container">
  <div id="left">
    <p style="font-size:15px;">
    The meeting will be held at:
  </p>
  </div>
</div>

<div id="container">
  <div id="left">
    <a href="http://avenidaamerica.madridhotels.it">
    <%= image_tag("Hotel_Melia-2.png", :height => '160', :width => '340') %> </a>
  </div>
  <div id="right">
    <p style="font-size:14px;">
      <a href="http://avenidaamerica.madridhotels.it">
        Hotel Mélia Avenida de América</a><br/> 
        Calle de Juan Ignacio Luca de Tena, 36,<br/>
        28027, Madrid SPAIN
    </p>
  </div>
</div>

 <!--<div class="row">

  <div class="conf_title">
    <p style="font-size:22px;">Annual International Dictyostelium Conference</p>
    <p style="font-size:16px;">July 29 - August 2, 2012</br>
        Madrid, Spain </p>
  </div>

  <div class="host_info">
    Hosted by:<br/>
    Ricardo Escalante, <a href="mailto:rescalante@iib.uam.es">rescalante@iib.uam.es</a><br/>  
    Teresa Suárez, <a href="mailto:teresa@cib.csic.es">teresa@cib.csic.es</a><br/>
    Leandro Sastre, <a href="mailto:lsastre@iib.uam.es">lsastre@iib.uam.es</a><br/>   
  </div>
  </div> 

  -->

<!--<div class="row">
  <div class="hotel_pic">
    <a href="http://avenidaamerica.madridhotels.it"><%= image_tag("Hotel_Melia.png") %> </a> 
  </div>

  <div class="hotel_add">
    <p style="text-align:center;">
      <a href="http://avenidaamerica.madridhotels.it">Hotel Mélia Avenida de América</a><br/> 
      Calle de Juan Ignacio Luca de Tena, 36,
      28027, Madrid SPAIN
    </p>
  </div>
	
    <div class="sponsors" style="font-size:13px;">
       <h4>Contact Us</h4>
       Scientific meeting and abstracts - <a href="mailto:dnr@jhmi.edu"></a>
       <br/>
       Meeting registration, hotel and billing - <a href="mailto:lgrocholski@radissoncrosskeys.com"></a>
    </div>
</div>-->
