<% content_for :title, "Dicty 12" %>

<!--Left block with the conference title & dates below it-->
<div id="container">

  <div id="left">
    <p style="font-size:20px;">
        <b>Annual International Dictyostelium Conference</b>
    </p>
    <p style="font-size:16px;">
      July 29 - August 2, 2012<br/>
      Madrid, Spain
    </p>
  </div>

  <!--Right block with the host information-->
  <div id="right">
    Hosted by:<br/>
    <p style="font-size:14px;">
        Ricardo Escalante, <a href="mailto:rescalante@iib.uam.es">rescalante@iib.uam.es</a><br/>  
        Teresa Suárez, <a href="mailto:teresa@cib.csic.es">teresa@cib.csic.es</a><br/>
        Leandro Sastre, <a href="mailto:lsastre@iib.uam.es">lsastre@iib.uam.es</a><br/>
    </p>
  </div>

</div>

<div id="container">
  <div id="home-content">
    <p style="font-size:13px;">
      Talks, poster sessions, accommodation and meals will be all arranged at the Meliá Avenida de America Hotel. Meals will be organized as buffets in which salads, meat, fish and fruits will always be available. Please contact the organizers if you have any special requirements.
    <br /><br /> 
      A guided visit to the old historical city of Segovia, a hundred kilometers from Madrid, has been arranged in the afternoon of August 1st. A special dinner will be served close to Segovia before going back to the Hotel.
    </p>
  </div>
</div>

<!--Left block -->
<div id="container">
  <div id="left">
    <p style="font-size:12.5px;">
    The meeting will be held at:
  </p>
  </div>
</div>

<div id="container">
  <div id="left">
    <a target="_blank" href="http://avenidaamerica.madridhotels.it">
    <%= image_tag("Hotel_Melia-2.png", :height => '150', :width => '330') %> </a>
  </div>
  <div id="right">
    <p style="font-size:13px;">
      <a target="_blank" href="http://avenidaamerica.madridhotels.it">
        Hotel Meliá Avenida de América</a><br/> 
        Calle de Juan Ignacio Luca de Tena, 36,<br/>
        28027, Madrid SPAIN
    </p>
  </div>
</div>
