<% content_for :title, "Dicty 2015" %>


<div id="container">
	<div id="center">
		<div class="mainDicty">
			Dicty 2015 
		</div>
		<div class="mainConference">
			Annual International Dictyostelium Conference
		</div>

		<div class="mainDates">
			August 9 - August 13, 2015
		</div>
		<div class="location">
			<p><a target="_blank" href="http://www.conferences.rhul.ac.uk/index.asp"> Royal Holloway</a>, University of London<br>
			Egham, Surrey (TW20 0EX)<br>
			United Kingdom
			</p>
		</div>
</div>


<div id="container">

	<div id="left">

		<div class="welcome">
			We're looking forward to seeing you at the <strong>Dictyostelium International Conference 2015</strong> at the <a target="_blank" href="http://www.conferences.rhul.ac.uk/index.asp"> Royal Holloway</a>, conveniently located only 8 miles from London International airport Heathrow.
			<br/><br/>
			More information on the program and the opening of registration is expected <span class="highLightColor">early 2015</span>.
		</div>

		<div>
			<h3><b>Transport Options</b></h3>
			<p> <em>By Train</em></p>

				<div class="textBoxes">
					The nearest train station is Egham, approximately 1 mile from Royal Holloway. It has direct links to London Waterloo, Ascot, Reading and Weybridge.
				</div>
			
			<p> <em>By Bus</em></p>
			
				<div class="textBoxes">
					Buses from Windsor, Slough and Heathrow Airport stop just outside the College gates.
				</div>
			
			<p> <em>By Plane</em></p>
				<div class="textBoxes">
					London Heathrow Airport is only 8 miles away.
					<br/><br/>
					
				</div>

			<h3><b>Plan your journey</b></h3>
			<div class="textBoxes">
				<p>
					To plan your journey via public transport you can use the <a href="http://www.traveline.org.uk/" target="_blank">Travel Line</a> service, which provides details of train, bus and coach services.
				</p>
				
				<p>
					If you’re journey will only involve train travel then please use the <a target="_blank" href="http://ojp.nationalrail.co.uk/service/planjourney/search">National Rail Enquiries</a> which provides details of train times and ticket prices.
				</p>

				<p>
					The nearest train station is Egham, approximately 1 mile from Royal Holloway. It has direct links to London Waterloo, Ascot, Reading and Weybridge. Visit <a target="_blank" href="http://www.nationalrail.co.uk">www.nationalrail.co.uk</a> for more information. 
				</p>
				<p>
					Royal Holloway is well served by local bus services to all London Heathrow terminals, Egham, Staines, Windsor and beyond. Nearby Egham offers regular train connections to Reading, Guildford and central London. Buses and trains are often an easier, faster way of getting around the local area, particularly during peak hours.
				</p>
				<p>
					For more information, please visit the <a target="_blank" href="http://www.conferences.rhul.ac.uk/index.asp"> Royal Holloway</a> conference site.
				</p>
			</div>

		</div>



		<!--<p style="color:red;font-size:14px"><b>The deadline for Early Registration has been extended to July 14, 2013</b></p>-->
<!-- 		<p style="font-size:14px">
		The Dicty 2013 meeting program is now available for viewing <a target="_blank" href="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/Dicty13_Program.pdf">here</a>. Printed copies will be distributed at the meeting
		</p> -->
	</div>

	<!--Right block with the host information-->
	<div id="right">
		<em>Hosted by</em>:<br/>
		<p>
			<div class="organizer">Robin Williams</div>
			School of Biological Sciences, Royal Holloway University of London.<br/>
			Egham, Surrey<br/>
			TW20 0EX<br/>
			United Kingdom<br/>
			<a href="mailto:Robin.Williams@rhul.ac.uk">Robin.Williams@rhul.ac.uk</a><br/>
			Ph: + 44 (0) 1784276162 <br/><br/>

			<div class="organizer">Arjan Kortholt</div>
			Faculty of Mathematics and Natural Sciences. Cell Biochemistry<br/>
			Nijenborgh 7<br/>
			9747 AG Groningen<br/>
			The Netherlands<br/>
			<a href="mailto:a.kortholt@rug.nl">a.kortholt@rug.nl</a><br/>
			Ph: +31 (0) 503634206 <br/><br/>

			<div class="organizer">Douwe Veltman</div>
			MRC Laboratory of Molecular Biology<br/>
			Francis Crick Avenue<br/>
			Cambridge Biomedical Campus<br/>
			Cambridge<br/>
			CB2 0QH<br/>
			United Kingdom<br/>
			<a href="mailto:dveltman@mrc-lmb.cam.ac.uk">dveltman@mrc-lmb.cam.ac.uk</a><br/>
			Ph: +44 (0) 1223267388<br/><br/>
		</p>
	</div>

</div>

<!-- <div id="container">

	<div id="left">

		<p>Meals will be organized as buffets in which salads, meat, fish and fruits will always be available. Please contact the organizers if you have any special requirements.
		</p>
		<p>The banquet will be held Wednesday evening at the <a href="http://www.biltmore.com/weddings/locations/river_bend.asp" target="_blank">Antler Hill Village on the Biltmore Estate</a>
		</p>

		<h4>Activities</h4>  
		<p>Participants may choose from the following two activities that are being offered on Wednesday afternoon:
		<ul>
			<li>Tour of the <a href="http://www.biltmore.com/visit/explore.asp" target="_blank">Biltmore House, Gardens, Winery, Farm Village, and access to all Estate facilities</a>
			<li><a href="http://www.frenchbroadrafting.com/" target="_blank">Whitewater rafting</a></li>
		</ul>
		</p>
	</div>

	<div id="right">
		<p style="font-size:13px;">
		<iframe width="260" height="200" src="http://www.youtube.com/embed/1AsdeMXHTpA" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>
</div>
 -->