<% content_for :title, "Dicty 2015" %>


<div id="container">
	<div id="center">
		<div class="mainDicty">
			Dicty 2015
		</div>
		<div class="mainConference">
			Annual International Dictyostelium Conference
		</div>

		<div class="mainDates">
			August 4 - August 8, 2013<br/>
			Asheville, NC, USA	
		</div>
</div>


<div id="container">

	<div id="left">

		<!--<p style="color:red;font-size:14px"><b>The deadline for Early Registration has been extended to July 14, 2013</b></p>-->
		<p style="font-size:14px">
		The Dicty 2013 meeting program is now available for viewing <a target="_blank" href="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/Dicty13_Program.pdf">here</a>. Printed copies will be distributed at the meeting
		</p>
	</div>

	<!--Right block with the host information-->
	<div id="right">
		Hosted by:<br/>
		<p style="font-size:14px;">
		Chris Janetopoulos 
		<br/>Departments of Biological Sciences and Cell & Developmental Biology, Vanderbilt University, Nashville TN <br/><a href="mailto:c.janetopoulos@vanderbilt.edu">c.janetopoulos@vanderbilt.edu</a><br/>  
		<br/>
		Paul Steimle
		<br/>Department of Biology, University of North Carolina at Greensboro, Greensboro NC <br/><a href="mailto:p_steiml@uncg.edu">p_steiml@uncg.edu</a><br/>
		</p>
	</div>

</div>

<br/>

<div id="container">

	<div id="left">
		<p>
		Talks, poster sessions, accommodation, and meals will take place at the <a href="http://doubletree3.hilton.com/en/hotels/north-carolina/doubletree-by-hilton-hotel-asheville-biltmore-AVLBMDT/index.html" target="_blank">DoubleTree by Hilton Hotel, Asheville – Biltmore</a> 
		</p>
		<p>Meals will be organized as buffets in which salads, meat, fish and fruits will always be available. Please contact the organizers if you have any special requirements.
		</p>
		<p>The banquet will be held Wednesday evening at the <a href="http://www.biltmore.com/weddings/locations/river_bend.asp" target="_blank">Antler Hill Village on the Biltmore Estate</a>
		</p>

		<h4>Activities</h4>  
		<p>Participants may choose from the following two activities that are being offered on Wednesday afternoon:
		<ul>
			<li>Tour of the <a href="http://www.biltmore.com/visit/explore.asp" target="_blank">Biltmore House, Gardens, Winery, Farm Village, and access to all Estate facilities</a>
			<li><a href="http://www.frenchbroadrafting.com/" target="_blank">Whitewater rafting</a></li>
		</ul>
		</p>
	</div>

	<div id="right">
		<p style="font-size:13px;">
		<iframe width="260" height="200" src="http://www.youtube.com/embed/1AsdeMXHTpA" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>
</div>
