<% content_for :title, "Dicty11" %>

<div class="centered narrow" style="font-size:16px;">
    Hosted by:<br/>
    Douglas Robinson, dnr@jhmi.edu, 410-502-2850<br/>
    Peter Devreotes, pnd@jhmi.edu, 410-955-3225<br/>
    Miho Iijima, miijima@jhmi.edu, 410-502-6836<br/>   

<h2> Plenary Speaker</h2> 
<h3>James A. Spudich, <br/>
Department of Biochemistry, Stanford, CA.</h3>
   
    <p style="text-align:center;">
        Radisson Hotel at Cross Keys
        5100 Falls Road, Baltimore, MD
        866-757-0610
    </p>
    
    <div class="sponsors" style="font-size:13px;">
       <h4>Contact Us</h4>
       Scientific meeting and abstracts - <a href="mailto:dnr@jhmi.edu">Doug Robinson</a>
       <br/>
       Meeting registration, hotel and billing - <a href="mailto:lgrocholski@radissoncrosskeys.com">Lindsey Grocholski</a>
    </div>
</div>
<div style="font-size:26px;text-align:center;margin-top:40px;">
    <%= image_tag("radisson-logo.jpg") %>
    <%= image_tag("spirit-logo.jpg") %>
    <%= image_tag("sop-logo.jpg") %>
</div>