<% content_for :title, "Dicty 2015" %>


<div id="container">
	<div id="center">

		<div class="headerTop">
			<table id="headerTable">
				<tr>
					<td>
						<div class="mainDicty">
							<span>Dicty 2015</span>
						</div>
						<div class="mainConference">
							<span>Annual International Dictyostelium Conference</span>
						</div>	
						<div class="mainDates">
							August 9 to 13, 2015
						</div>
					</td>
				</tr>
			</table>
		</div>


		<div class="mainLocation">
			<p><strong>Royal Holloway, University of London</strong><br>
			Egham, Surrey (TW20 0EX)<br>
			United Kingdom
			</p>
		</div>
	</div>


<div id="container">

	<div id="left">

		<div class="welcome">
			We are looking forward to seeing you at the <strong>Dictyostelium International Conference 2015</strong> at the <a target="_blank" href="http://www.conferences.rhul.ac.uk/index.asp"> Royal Holloway</a>, conveniently located only 8 miles from London International airport Heathrow.
			<br/>
		</div>

		<div>
			<h2>Transport Options</h2>

			<h3><em>By Plane</em></h3>
				<div class="textBoxes">
					London Heathrow Airport is only 8 miles away.
					<br><br>
				</div>

			<h3><em>By Bus</em></h3>
			
				<div class="textBoxes">
					Buses from Windsor, Slough and Heathrow Airport stop just outside the College gates. <br><br>
				</div>

			<h3><em>By Train</em></h3>

				<div class="textBoxes">
					The nearest train station is Egham, approximately 1 mile from Royal Holloway. It has direct links to London Waterloo, Ascot, Reading and Weybridge.
				</div>
		</div>

	</div>

	<!--Right block with the host information-->
	<div id="right">

		<div class="registrationBox closed">
			Registration is closed

		</div>

		<div class="hostBox">
			<h3><em>Hosted by</em></h3>
			<p>
				<div class="organizer">Robin Williams</div>
				School of Biological Sciences, Royal Holloway University of London.<br/>
				Egham, Surrey<br/>
				TW20 0EX<br/>
				United Kingdom<br/>
				<a href="mailto:Robin.Williams@rhul.ac.uk">Robin.Williams@rhul.ac.uk</a><br/>
				Ph: + 44 (0) 1784276162 <br/><br/>

				<div class="organizer">Arjan Kortholt</div>
				Faculty of Mathematics and Natural Sciences. Cell Biochemistry<br/>
				Nijenborgh 7<br/>
				9747 AG Groningen<br/>
				The Netherlands<br/>
				<a href="mailto:a.kortholt@rug.nl">a.kortholt@rug.nl</a><br/>
				Ph: +31 (0) 503634206 <br/><br/>

				<div class="organizer">Douwe Veltman</div>
				MRC Laboratory of Molecular Biology<br/>
				Francis Crick Avenue<br/>
				Cambridge Biomedical Campus<br/>
				Cambridge<br/>
				CB2 0QH<br/>
				United Kingdom<br/>
				<a href="mailto:dveltman@mrc-lmb.cam.ac.uk">dveltman@mrc-lmb.cam.ac.uk</a><br/>
				Ph: +44 (0) 1223267388<br/><br/>
			</p>
		</div> <!-- class="hosts" -->
	</div>

</div>