<% content_for :title, "Dicty12" %>

<div class="centered narrow" style="font-size:16px;">
    Hosted by:<br/>
    Teresa Suárez, <a href="mailto:teresa@cib.csic.es">teresa@cib.csic.es</a><br/>
    Ricardo Escalante, <a href="mailto:rescalante@iib.uam.es">rescalante@iib.uam.es</a><br/>  
    Leandro Sastre, <a href="mailto:lsastre@iib.uam.es">lsastre@iib.uam.es</a><br/>   

<!--<h2> Plenary Speaker</h2> 
<h3>James A. Spudich, <br/>
Department of Biochemistry, Stanford, CA.</h3>-->
   
	<br/><br/><br/><br/>
    <p style="text-align:center;">
        <!--Radisson Hotel at Cross Keys
        5100 Falls Road, Baltimore, MD
        866-757-0610-->
		Hotel Mélia Avenida de América<br/> 
		Calle de Juan Ignacio Luca de Tena, 36,
		28027, Madrid SPAIN
    </p>
    
    <div class="sponsors" style="font-size:13px;">
       <h4>Contact Us</h4>
       Scientific meeting and abstracts - <a href="mailto:dnr@jhmi.edu"></a>
       <br/>
       Meeting registration, hotel and billing - <a href="mailto:lgrocholski@radissoncrosskeys.com"></a>
    </div>
</div>
<div style="font-size:26px;text-align:center;margin-top:40px;">
    <!--<%= image_tag("radisson-logo.jpg") %>
    <%= image_tag("spirit-logo.jpg") %>
    <%= image_tag("sop-logo.jpg") %>-->
	<%= image_tag("Hotel_Melia.png") %>
</div>