<div class="centered narrow" style="font-size:16px;">
    Hosted by:<br/>
    Douglas Robinson, dnr@jhmi.edu, 410-502-2850<br/>
    Peter Devreotes, pnd@jhmi.edu, 410-955-3225<br/>
    Miho Iijima, miijima@jhmi.edu, 410-502-6836<br/>
    
    <p style="font-size:26px;text-align:center;">
        Radisson Hotel at Cross Keys
        5100 Falls Road, Baltimore, MD
        866-757-0610
    </p>
</div>
    <div style="font-size:26px;text-align:center;margin-top:40px;">
        <img src="/images/radisson-logo.jpg">
        <img src="/images/spirit-logo.jpg">
        <img src="/images/sop-logo.jpg">
    </div>