<% content_for :title, "Dicty12: Registration" %>

<h3>Registration rates</h3>
<div class="sponsors">
   <h4>Early bird registration (through June 14, 2011):</h4>
   <br/>
   <ul>
      <li>Single room - $1080</li>
      <li>Double room - $820</li>
   </ul>
   <br/>
   <h4>From June 15 (Note that availability cannot be guaranteed after June 14 ): </h4>
   <br/>
   <ul>
      <li>Single room - $1130</li>
      <li>Double room - $870</li>
   </ul>
   <p>
       These costs include: room (four nights), meeting registration, food, beverages (except for a couple of cash bars), the lunch cruise 
       and party with band on the last night.
   </p>
</div>
<p class="button">
   <%= link_to image_tag("register.png", :border=>0), "http://www.radisson.com/dicty" %>
</p>
