<% content_for :title, "Dicty15: Registration" %>


<div class="headerTop">
	<table id="headerTable">
		<tr>
			<td>
				<div class="subDicty">
					<span >Dicty 2015</span>
				</div>
				<div class="subConference">
					<span>Annual International Dictyostelium Conference</span>
				</div>
				<div class="subDate">
					<span>August 9 to 13, 2015</span>
				</div>	
			</td>

			<td>
				<div class="regHeaderTitle">
					<span>Registration</span>
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="regDescription">

	<h2>Instructions</h2>
	<ul>
		<li><p>To register <a target="_blank" href="https://www.eventsforce.net/dicty2015" target="_blank"> visit this link (managed by Royal Holloway)</a></p></li>

		<li><p>Early bird registration ends on <strong>April 30</strong>. Regular registration on <strong>July 10</strong> </p></li>

		<li><p>Registration fees cover: meals, attendance to sessions, coffee breaks and the visit to either Windsor Castle or Fuller's Griffin Brewery. 
		</p></li>
	</ul>

	<h2>Fees</h2>
</div>

<div class="regTable">

	<table id="regFees">

	  <tr>

	    <td> </td>
	    
	    <td> 
	    	<div class="tableHeader">
	    		Early Bird	
	    	</div>
	    	<div class="tableSubHeader">
	    		ends April 30
	    	</div>
	    </td>
	    
	    <td> 
	    	<div class="tableHeader">
	    		Regular Rate
	    	</div>
	    	<div class="tableSubHeader">
	    		from May 1 to July 10
	    	</div>
	    </td>

	  </tr>

	  <tr>
	    <td> <div class="sideHeaderRegular"> Regular Attendees </div> </td>
	    <td> </td>		
	    <td> </td>
	  </tr>

	  <tr>
	    <td>Conference fee + accommodation</td>
	    <td id="alignCenter">600 &pound;</td>		
	    <td id="alignCenter">650 &pound;</td>
	  </tr>

	  <tr>
	    <td>Conference fee only</td>
	    <td id="alignCenter">450 &pound;</td>		
	    <td id="alignCenter">500 &pound;</td>
	  </tr>

	  <tr class="tableBlankSpace">
	  	<td></td>
	  	<td></td>
	  	<td></td>
	  </tr>


	  <tr>
	    <td> <div class="sideHeaderStudents"> Students </div> </td>
	    <td> </td>		
	    <td> </td>
	  </tr>

	  <tr>
	    <td>Conference fee + accommodation</td>
	    <td id="alignCenter">550 &pound;</td>		
	    <td id="alignCenter">600 &pound;</td>
	  </tr>

	  <tr>
	    <td>Conference fee only</td>
	    <td id="alignCenter">400 &pound;</td>		
	    <td id="alignCenter">450 &pound;</td>
	  </tr>

	</table>
	
</div> <!-- class="regTable" -->

<div class="regDescription">

	<p>Additional nights on Sunday, 8th August and/or Thursday/Friday 13th/14th August, can be booked on registration.</p>

</div>

<div class="regDescription">

	<h2>Questions?</h2>
	<p>We have a wonderful helper here (Sandie) who will be able to respond to any question from this email: <a href="mailto:CMS@rhul.ac.uk">CMS@rhul.ac.uk</a>
</p>

</div>




<!-- Inserting documents -->
<!-- Dicty 2015 Conference Schedule is available <a href="< % = ENV["RAILS_RELATIVE_URL_ROOT"] % >/Dicty13_Schedule.pdf" target="_blank">here</a> -->

