<% content_for :title, "Dicty15: Registration" %>


<div class="regHeader">
	Registration
</div>

<div class="regDescription">

<p>Registration for the meeting is managed through <a target="_blank" href="https://www.eventsforce.net/dicty2015"> the web of the venue (Royal Holloway)</a>.</p>

<p>Registration will be closed on <strong>July ??</strong> </p>

<p>Registration fees cover meals, attendance to sessions, coffee breaks and the visit to Windsor Castle and Fuller's Griffin Brewery. Prices are as follows:
</p>
</div>

<div class="regTable">

	<table id="reg">

	  <tr>

	    <td> </td>
	    
	    <td> 
	    	<div class="tableHeader">
	    		Early Bird	
	    	</div>
	    	<div class="tableSubHeader">
	    		ends April 30
	    	</div>
	    </td>
	    
	    <td> 
	    	<div class="tableHeader">
	    		Regular Rate
	    	</div>
	    	<div class="tableSubHeader">
	    		from May 1
	    	</div>
	    </td>

	  </tr>

	  <tr>
	    <td> <div class="sideHeaderRegular"> Regular Attendees </div> </td>
	    <td> </td>		
	    <td> </td>
	  </tr>

	  <tr>
	    <td>Conference fee + accommodation</td>
	    <td id="alignCenter">600 &pound;</td>		
	    <td id="alignCenter">650 &pound;</td>
	  </tr>

	  <tr>
	    <td>Conference fee only</td>
	    <td id="alignCenter">450 &pound;</td>		
	    <td id="alignCenter">500 &pound;</td>
	  </tr>

	  <tr class="tableBlankSpace">
	  	<td></td>
	  	<td></td>
	  	<td></td>
	  </tr>


	  <tr>
	    <td> <div class="sideHeaderStudents"> Students </div> </td>
	    <td> </td>		
	    <td> </td>
	  </tr>

	  <tr>
	    <td>Conference fee + accommodation</td>
	    <td id="alignCenter">550 &pound;</td>		
	    <td id="alignCenter">600 &pound;</td>
	  </tr>

	  <tr>
	    <td>Conference fee only</td>
	    <td id="alignCenter">400 &pound;</td>		
	    <td id="alignCenter">450 &pound;</td>
	  </tr>

	</table>
	
</div> <!-- class="regTable" -->

<div class="regDescription">

<p>Additional nights on Sunday, 8th August and/or Thursday/Friday 13th/14th August, can be booked on registration.</p>

</div>



<!-- Inserting documents -->
<!-- Dicty 2015 Conference Schedule is available <a href="< % = ENV["RAILS_RELATIVE_URL_ROOT"] % >/Dicty13_Schedule.pdf" target="_blank">here</a> -->

