<h3>Our Sponsors</h3>
<br/>
<div class="sponsors">
    <ul>
        <li>
            <div>
                <%= image_tag("formedium-logo.jpg") %>
            </div>
            <div>
                <h4>Formedium</h4>
                 <%= link_to("http://www.formedium.com/","http://www.formedium.com/") %>
            </div>
        </li>
    </ul>
</div>