<% content_for :title, "Dicty13: Sponsors" %>

<h3>Our Sponsors</h3>
<br/>
<div class="sponsors">
	<ul>

		<li>
		<div>
			<%= image_tag("formedium-logo.jpg") %>
			<br/><br/><br/><br/><br/>
		</div>
		<div>
			<h4>Formedium</h4>
			<%= link_to("http://www.formedium.com/","http://www.formedium.com/", :target => "_blank") %>
		</div>
		</li>

		<li>
		<div>
			<%= image_tag("worldwideGlobe-logo.jpg") %>
			<br/><br/><br/><br/><br/>
		</div>
		<div>
			<h4>WorldWide Medical Products</h4>
			<%= link_to("http://www.wwmponline.com/","http://www.wwmponline.com/", :target => "_blank") %>
		</div>
		</li>
	</ul>
</div>
