<% content_for :title, "Dicty12: Sponsors" %>

<h3>Our Sponsors</h3>
<br/>
<div class="sponsors">
    <ul>
        <li>
			
            <div>
              <%= image_tag("dicty12_sponsors.jpg") %>
              <!--<%= image_tag("formedium-logo.jpg") %>-->
            </div>
            <div>
                <h4>Ministerio de Economía y Competitividad</h4>
                <%= link_to("http://www.mineco.gob.es/portal/site/mineco", "http://www.mineco.gob.es/portal/site/mineco") %>
                <!--<%= link_to("http://www.formedium.com/","http://www.formedium.com/") %>-->
            </div>
			
        </li>
    </ul>
</div>
