<% content_for :title, "Dicty12: Transport" %>

<h3>Travel to Madrid, Spain</h3>

<div style="overflow:auto;">
    <p>
        The <a href="http://avenidaamerica.madridhotels.it/" target="_blank">Hotel Melia Avenida de America</a> provides free shuttle bus service from <a href="http://www.aena-aeropuertos.es/csee/Satellite/Aeropuerto-Madrid-Barajas/en/" target="_blank">Barajas airport</a> <!--(more detailed information will follow)-->.
        
        If you are not going straight to the hotel, the Metro (pink; line nº 8 ) is the easiest and cheapest way to and from the airport (4,5 €).
    </p>

    <p> 
        <p>The hotel offers a shuttle service to and from the airport, available from 7 am - 11 pm (continued service).</p>
 
        <p><b>Hotel Melia Avenida America</b><br/>
        Calle de Juan Ignacio Luca de Tena, 36 Madrid, ESPAÑA<br/>
        Telephone: +34 91 4232400</p>
 
        <p>Stops are located at:<br/>
        <ul>
            <li>Terminal 1, room 2</li>
            <li>Terminal 2, room 5</li>
            <li>Terminal 4, dock 1</li>
        </ul>
        </p>

        <p>To avoid waiting, we recommend you call the hotel (91 4232400 - when in Spain) and ask for the service upon arrival, so if the bus is in another terminal they will still pick you up.</p>
    </p>

    <h4>From the hotel to the city center (see map 1)</h4>
    <p>
        There is a taxi stop just outside the hotel front door, on the left.
    </p> 
    <p>
        Three city buses are running close to the hotel (approximately from 6:30 – 23:30)
    </p>
    <ul>
        <li>146 goes to the city center</li> 
        <li>114 goes to the airport cargo area</li>
        <li>104 goes north to Mar de Cristal</li>
    </ul>
    <p>
        There is also a Metro stop (Suanzes) on the green Metro line nº 5 located a 10-15 min. walk from the hotel (see map 1) or the full <a href="http://www.madbudget.com/madrid-metro-map" target="_blank"/>Metro map</a>
    </p>

    <p>General Madrid public transport information is <a href="http://www.ctm-madrid.es/" target="_blank">available</a>.</p>

    <h4>* Click on images to go to Google Maps</h4>

    <div align="center">
        <%= link_to image_tag("map1.jpg", :size => "630x450", :alt => "Map 1"), "http://goo.gl/maps/WFrr", :target => "_blank" %>
        <br/>
    </div>

    <p>You can also walk to the city center (see map 2)</p>

    <div align="center">
        <%= link_to image_tag("map2.jpg", :size => "630x450", :alt => "Map 2"), "http://goo.gl/maps/VB6q", :target => "_blank" %>
        <br/>
    </div>

    <!-- <div align="center" style="margin-top:40px;margin-left:30px;">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Puerta+del+Sol,+Plaza+de+la+Puerta+del+Sol,+5,+28013+Madrid,+Spain&amp;daddr=A-2&amp;geocode=FfC2aAIdRn3H_yGopQL1NRRywilJ0zmkgChCDTGopQL1NRRywg%3BFWM1aQIdHpzI_w&amp;sll=40.432674,-3.663211&amp;sspn=0.036488,0.093513&amp;hl=en&amp;dirflg=w&amp;mra=ltm&amp;ie=UTF8&amp;ll=40.432674,-3.663211&amp;spn=0.03223,0.07333&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Puerta+del+Sol,+Plaza+de+la+Puerta+del+Sol,+5,+28013+Madrid,+Spain&amp;daddr=A-2&amp;geocode=FfC2aAIdRn3H_yGopQL1NRRywilJ0zmkgChCDTGopQL1NRRywg%3BFWM1aQIdHpzI_w&amp;sll=40.432674,-3.663211&amp;sspn=0.036488,0.093513&amp;hl=en&amp;dirflg=w&amp;mra=ltm&amp;ie=UTF8&amp;ll=40.432674,-3.663211&amp;spn=0.03223,0.07333&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>  -->

    <h4>Important remarks</h4>
    <p>
        It is very easy to find information online about Madrid. If there is any particular thing you cannot find, please, ask us.
    </p>
    <p>
        <b>Around the hotel</b>: The hotel is located in a business area of Madrid and therefore not especially attractive. However there is a very nice garden <a href="http://www.madripedia.es/wiki/Parque_Quinta_de_los_Molinos" target="_blank">Parque Quinta de los Molinos</a> at 5 minutes (see map 1), where you may take a relaxing walk.
    </p>

    <p><b>Weather</b>: it is hot and the sun is strong. Temperatures may easily reach 40º C (104º F) during the day, though up to now it has been a mild summer. You may need sun protection.
    </p>

    <p><b>Thefts</b>: be careful with your belongings, thefts are more common in touristic locations such as the airport.</p>

</div>