<% content_for :title, "Dicty12: Transport" %>

<h3>Travel to Baltimore</h3>
<p>
    We recommend that you fly into Baltimore-Washington International (BWI) Airport, though it is possible to come into Philadelphia 
    (PHL), Dulles (IAD), or Reagan National (DCA) Airports. If you fly to BWI, you may take the 
    <%= link_to('SuperShuttle', 'http://www.bwiairport.com/en/travel/ground-transportation/trans/supershuttle') %>
    (1800-BLUE-VAN / 1800-258-3826) to Radisson Cross-Keys.
</p>
<p>Directions to the Radisson Hotel at Cross Keys (by car; there is free parking at the hotel if you want to rent a car)</p>

<div style="overflow:auto;">
    <div style="float:left;">
    <h4>All Points North</h4>	    
        <ul>
            <li>Access I-95 southbound from NY, NJ or Philadelphia</li>
            <li>Follow I-95 to I-695 towards Towson </li>
            <li>Take I-695 to exit 23 ( I-83 South )</li>
            <li>Take I-83 to exit 10A Northern Parkway East</li>
            <li>Make a left off the ramp (EAST)</li>
            <li>Once on Northern Parkway take a right onto Falls Rd.(first light)</li>
            <li>Make a right at the first light into the Village of Cross Keys</li>
        </ul>
        <h4>All Points South</h4>
        <ul>
            <li>Access I-95 northbound</li>
            <li>Follow I-95 to I-395 towards Downtown Baltimore</li>
            <li>Take I-395 to Pratt St.(3rd light), make a right</li>
            <li>Take Pratt to President St and make a left</li>
            <li>President will turn into I-83 north</li>
            <li>Take I-83 to exit 10A Northern Parkway East</li>
            <li>Once on Northern Parkway make a right onto Falls Rd.(first light)</li>
            <li>Make a right at the first light into the Village of Cross Keys</li>
        </ul>
    </div>
    <div style="float:left;margin-top:40px;margin-left:30px;">
        <iframe width="350" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5100+Falls+Rd,+Baltimore,+MD&amp;sll=39.357927,-76.643243&amp;sspn=0.020108,0.036263&amp;ie=UTF8&amp;hq=&amp;hnear=5100+Falls+Rd,+Baltimore,+Maryland+21210&amp;ll=39.356268,-76.644573&amp;spn=0.023228,0.030041&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5100+Falls+Rd,+Baltimore,+MD&amp;sll=39.357927,-76.643243&amp;sspn=0.020108,0.036263&amp;ie=UTF8&amp;hq=&amp;hnear=5100+Falls+Rd,+Baltimore,+Maryland+21210&amp;ll=39.356268,-76.644573&amp;spn=0.023228,0.030041&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    <div style="float:left;">
        <h4>BWI to the Radisson</h4>
        <ul>
            <li>From the airport follow I-295 towards Baltimore</li>
            <li>Proceed on I-295 into Baltimore and turn right onto Pratt St.</li>
            <li>Take Pratt to President St and make a left on President St.</li>
            <li>President turns into I-83 north</li>
            <li>Take I-83 to exit 10A Northern Parkway East</li>
            <li>Once on Northern Parkway make a right onto Falls Rd.(first light)</li>
            <li>Make a right at the first light into the Village of Cross Keys</li>
        </ul>
        <h4>From Penn Station (train)</h4>
        <ul>
            <li>Exit Penn Station onto Charles St.</li>
            <li>Make your first right and continue making rights (until you’ve circled the block completely )</li>
            <li>Once back on Charles St. stay in the left lane and take I-83 north</li>
            <li>Take I-83 north to exit 10A Northern Parkway</li>
            <li>Once on Northern Parkway make a right onto Falls Rd.(first light)</li>
            <li>Make a right at first light into the Village of Cross Keys</li>
        </ul>
        <p>
            You may also take a taxi from Penn Station.
        </p>

    </div>
</div>