<% content_for :title, "Dicty15: Travel" %>

<div class="headerTop">
	<table id="headerTable">
		<tr>
			<td>
				<div class="subDicty">
					<span >Dicty 2015</span>
				</div>
				<div class="subConference">
					<span>Annual International Dictyostelium Conference</span>
				</div>
				<div class="subDate">
					<span>August 9 to 13, 2015</span>
				</div>	
			</td>

			<td>
				<div class="travelHeaderTitle">
					<span>Travel</span>
				</div>
			</td>
		</tr>
	</table>
</div>


<div class="agendaBody"> <!-- Style from agenda -->

	<div class="textBoxes">
		<p>
			There are three ways to get to Royal Holloway:

			<ol type="1">
				<li>Fly to Heathrow airport in London, and get a taxi (20 minutes) or bus (40 min)</li>
				<li>Get a train from Waterloo (London) or Reading to Egham station … etc National rail.</li>  
				<li>Drive</li>
			</ol>
		</p>
	</div>

	<h3>Plan your journey</h3>

	<div class="textBoxes">
		<p>
			To plan your journey via public transport you can use the <a href="http://www.traveline.org.uk/" target="_blank">Travel Line</a> service, which provides details of train, bus and coach services.
		</p>

		<h3>Buses</h3>

		<p>Bus schedules from Heathrow terminal 5 (X71 link or 441) or Heathrow central (441) are available here:</p>
		<ul>
			<li><a href="http://www.londonbusroutes.net/times/071Heathrow.htm" target="_blank">Route 71</a></li>
			<li><a href="http://www.londonbusroutes.net/times/441.htm" target="_blank">Route 441</a></li>
		</ul>

		<h3>Trains</h3>
		
		<p>
			If you’re journey will only involve train travel then please use the <a target="_blank" href="http://ojp.nationalrail.co.uk/service/planjourney/search">National Rail Enquiries</a> which provides details of train times and ticket prices.
		</p>

		<p>
			The nearest train station is Egham, approximately 1 mile from Royal Holloway. It has direct links to London Waterloo, Ascot, Reading and Weybridge. Visit <a target="_blank" href="http://www.nationalrail.co.uk">www.nationalrail.co.uk</a> for more information. 
		</p>
		<p>
			Royal Holloway is well served by local bus services to all London Heathrow terminals, Egham, Staines, Windsor and beyond. Nearby Egham offers regular train connections to Reading, Guildford and central London. Buses and trains are often an easier, faster way of getting around the local area, particularly during peak hours.
		</p>
		<p>
			For more information, please visit the <a target="_blank" href="http://www.conferences.rhul.ac.uk/index.asp"> Royal Holloway</a> conference site.
		</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d79559.34296100942!2d-0.5592357411197671!3d51.453943240340195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e1!4m5!1s0x48767234cdc56de9%3A0x8fe7535543f64167!2sHeathrow+Airport%2C+London+Borough+of+Hillingdon%2C+United+Kingdom!3m2!1d51.470022!2d-0.454296!4m5!1s0x48767755f3ce74c9%3A0xd04339084bd84568!2sRoyal+Holloway%2C+Egham+Hill%2C+Egham%2C+Surrey+TW20+0EX%2C+United+Kingdom!3m2!1d51.425672999999996!2d-0.563062!5e0!3m2!1sen!2sus!4v1424980535572" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>

</div>