<% if is_admin? %>
  <h1>Admin controls</h1>

  <% if session[:where_from] == 'registration' %>
	<%= link_to 'View registrations', "" %><br/><br/>
  <% elsif session[:where_from] == 'abstract' %>
  	<%= link_to 'Manage abstracts', "abstracts" %><br/><br/>
  	<%= link_to 'Export abstracts as csv', "abstracts.csv" %>
  <% end %>
<% end %>
